.dashboard-summary {
    padding: 10px;
}

.summary-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.summary-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease;
}

.summary-card:hover {
    transform: translateY(-5px);
}

h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}



.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
}

.card-icon {
    margin-right: 10px;
}

.card-icon img {
    width: 30px;
    height: 40px;

}

.card-count {
    font-size: 1.5rem;
    font-weight: bold;
    color: #007bff;
}