    .readonly-input {
        width: 100%;
        border: none;
        background: transparent;
        pointer-events: none;
        font-weight: bold;
        color: #ffffff;
    }
    .photo-wrapper img {
        width: 120px;
        height: auto;
        display: block;
    }
    .photo-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;     
    }

.photo-wrapper img {
    width: 120px;
    height: auto;
}




 table {
     width: 100%;
     /* table takes full container width */
     table-layout: fixed;
     /* fixes column widths */
     border-collapse: collapse;
 }

 td,
 th {
     border: 1px solid #595959;
     padding: 3px;
     height: 25px;
     /* text-align: center; */
     /* optional */
     overflow: hidden;
     /* prevents text overflow */
     white-space: nowrap;
     /* keeps text in single line if needed */
 }

 th {
     background: #ffffff;
 }

 .even {
     background: #ffffff;
 }

 .odd {
     background: #fefcf9;
 }









 /* TD container stays fixed */
 .photo-td {
     padding: 0;
     /* optional */
     width: 200px;
     /* fixed width */
     height: 200px;
     /* fixed height */
     vertical-align: top;
 }

 /* Wrapper to keep image inside */
 .photo-wrapper {
     position: relative;
     width: 100%;
     height: 100%;
     overflow: hidden;
     /* ensures image doesn't escape */
 }

 /* Clickable label container */
 .preview-container {
     display: block;
     width: 100%;
     height: 100%;
     position: relative;
     cursor: pointer;
     border: 1px dashed #ccc;
     border-radius: 4px;
     background: #fefefe;
 }

 /* Image covers the container completely */
 .preview-img {
     display: none;
     /* hide at first */
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     pointer-events: none;
 }


 /* Overlay text */
 .overlay-text {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     /* justify-content: center;
     align-items: center;
     text-align: center; */
     font-weight: bold;
     font-size: 14px;
     color: #555;
     pointer-events: none;
     background: rgba(255, 255, 255, 0.3);
     padding: 5px;
     box-sizing: border-box;
     transition: opacity 0.3s ease;
 }

 /* Hide overlay when image exists */
 .preview-img:not([src=""])+.overlay-text {
     opacity: 0;
 }

 /* Hide file input */
 .file-input {
     display: none;
 }